{:paths   ["src" "resources"]
 :deps    {org.clojure/clojurescript      {:mvn/version "1.9.946"}
           clojail                        {:mvn/version "1.0.6"}
           org.clojure/math.combinatorics {:mvn/version "0.1.6"}
           djblue/portal                  {:mvn/version "0.18.1"}}}
